.career {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 4rem 0;
  padding: 1rem;
  align-items: center;

    .careerWrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 1rem;
       
      .date {
        width: 10rem;
        text-align: right;
        margin: 0rem 4rem;
      }

      .box {
        width: 15rem;

        h4 {
          margin: 0;
        }

        ul {
          margin: 0.5rem 0;
          padding-left: 2rem;
        }
      }
    }
}